*, body, #root {
    box-sizing:border-box;
    font-family: "Montserrat";
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../../../public/assets/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
html, body, #root{
    width: 100%;
    height:100%;
    overflow-x: hidden;
}
/* home stylings */
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    margin-top: 1%;
}

/* home navigation */
.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    /* padding: 15px; */
    align-self: flex-end;
}

.links > * {
    color: black;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease-in-out;
    font-weight:500;
}
#signup.signup{
    border: solid 2px blue;
    padding:5px

}

#signup.signup:hover{
    border: solid 2px white;
    padding:5px;
    background-color: blue;
    color:white;
}

/* react body styling */

.body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 3%;
}

.hero{
    display: flex;
    /* flex-wrap: wrap;  remember to wrap it in media query*/
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.hero>*{
    width: 100%;
    height: 100%;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    height: 80%;
}
.catch-phrase{
    font-weight: 300;
    font-size: 18px;
}
.introductory-text, .catch-phrase{
    width: 70%;
    padding-left: 10px;

}
.introductory-text{
    font-size: 30px;
}
.btn-signups{
    display: flex;
    flex-flow: row wrap;
    height: 20%;
    font-size: medium;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.new-meeting, .join-meeting{
    margin: 10px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.new-meeting{
    font-size: large;
    font-weight: 600;
}
.new-meeting:hover{
    background-color: rgb(37, 37, 172);
    border: solid 1px green;
}

.join-meeting{
    background-color: white;
    color: black;
    border: solid black 2px;
    font-weight: 600;
}

.join-meeting:hover{
    background-color: black;
    color: white;
}

.sample-img #sample-img{
    width: 100%;
    height:100%;
    border-radius: 15px;
}

/* footer styling starts here */

.footer{
    background-color: blue;
    color:white;
    width: 100%;
    margin-top: 5%;
}

.other-links{
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
}


/* create meeting and join meeting stylings */
.create-meeting{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-top: 5%;
    align-self: center;
}

.create-meeting form{
    display: flex;
    flex-direction: column;
}

.create-meeting form label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.create-meeting form label > input{
    width: 80%;
    height: 60px;
    border-radius: 15px;
    padding: 5px;
    text-align: left;
}

.create-meeting form label > * {
    margin:2%;
}

#create-btn{
    width: 15%;
    height: 10%;
    padding: 5px;
    background-color: white;
    border: solid 1px blue;
    border-radius: 15px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#create-btn:hover{
    background-color: blue;
    color: white;
}

/* join meeting styles starts here */

.join-meeting-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 24, 24);
    color: white;
    height: 100vh;
    padding: 2%;
}

#join-text{
    align-self: flex-start;
    font-size:50px;
    margin-bottom: -10px;
}

#divider{
    width: 100%;
}

.join-meeting-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: solid 2px yellow; */
    height: 100%;
}

.join-meeting-form form label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
    height:80%;
    /* border: solid 1px blue; */
}

.join-meeting-form form label input{
    width: 100%;
    height: 50px;
    border:none;
    outline: none;
    border-radius: 10px;
    padding: 3px;
}

#field-identifier{
    align-self: flex-start;
}

.enter-meeting{/*submit btn for join meeting credentials collection form*/
    width: 10%;
    height: 20%;
    background-color: blue;
    border-radius:20px;
    color:white;
    font-size:400;
    margin-top: 10px;
    cursor:pointer;
    border: none;
    outline: none;
}
